# Core app
streamlit==1.57.0

# Data & ML
pandas
numpy<2.0
scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

# Deep Learning
tensorflow==2.21.0
torch
torchvision

# Geospatial
geopandas
pyogrio
osmnx
contextily
folium
branca
rasterio
rioxarray

# Visualization
matplotlib
seaborn
plotly
altair
pydeck

# Stats & forecasting
statsmodels
pmdarima

# Utilities
requests
pyyaml
joblib
tqdm
groq

python-3.11